.navbar {
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}
.linkWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.navbar a {
  display: block;
  text-decoration: none;
  color: #434343;
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
  margin-right: 1em;
}

.navbar a.active {
  /*background-color: lightslategray;*/
  color: #9a9a9a;
}